.asidebar-wrap{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 41px;
    background: #000;
    z-index: 999999;
}
.asidebar-wrap .code-wrap{
    width: 41px;
    height: 68px;
    background: url(../images/aside_min_code.png) no-repeat center 16px;
    position: relative;
}
.asidebar-wrap .code-wrap .code-content .code-triangle{
    width: 6px;
    height: 10px;
    background: url(../images/icon_triangle.png) no-repeat center;
    position: absolute;
    right: -6px;
    top:20px;
    z-index: 1111;
}
.asidebar-wrap .code-wrap .code-content{
    position: absolute;
    right: 54px;
    top:0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    border:1px solid #e0e0e0;
    background: #fff;
}
.asidebar-wrap .code-wrap .code-content img{
    width:124px;
    height: 124px;
}
.asidebar-wrap .code-wrap .code-content p {
    font-size: 12px;
    text-align: center;
    line-height: 32px;
}
.asidebar-wrap .shopping-wrap{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
.asidebar-wrap .shopping-wrap:hover{
    background: #f05353;
}
.asidebar-wrap .shopping-wrap i{
    display: block;
    height: 18px;
    background: url(../images/icon_shopping_cart.png) no-repeat center;
    background-size: 18px;
    margin-bottom: 7px;
}
.asidebar-wrap .shopping-wrap p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.asidebar-wrap .shopping-wrap span {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 7px;
    border-radius: 50%;
    background: #fff;
    color: #f05353;
    text-align: center;
    line-height: 26px;
    margin-top: 7px;
}
/*个人中心*/
.asidebar-wrap .person-center{
    display: block;
    background: url(../images/icon_person_center.png) no-repeat center;
    height: 31px;
    margin-bottom: 18px;
    position: relative;
}
.asidebar-wrap .person-center .center-icon{
    display: block;
    width: 100%;
    height: 100%;
}
.asidebar-wrap .person-center:hover{
    background: url(../images/icon_person_center_active.png) no-repeat center;
}
.asidebar-wrap .person-center .center-txt{
    position: absolute;
    right: 41px;
    top:0;
    background: #000;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #fff;
    width: 70px;
    text-align: center;
    font-size: 12px;
}
/*我的收藏*/
.asidebar-wrap .person-collect{
    display: block;
    background: url(../images/icon_person_collect.png) no-repeat center;
    height: 31px;
    margin-bottom: 18px;
    position: relative;
}
.asidebar-wrap .person-collect .collect-icon{
    display: block;
    width: 100%;
    height: 100%;
}
.asidebar-wrap .person-collect:hover{
    background: url(../images/icon_person_collect_active.png) no-repeat center;
}
.asidebar-wrap .person-collect .collect-txt{
    position: absolute;
    right: 41px;
    top:0;
    background: #000;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #fff;
    width: 70px;
    text-align: center;
    font-size: 12px;
}
/*我的卡券*/
.asidebar-wrap .person-card{
    display: block;
    background: url(../images/icon_person_card.png) no-repeat center;
    height: 31px;
    margin-bottom: 18px;
    position: relative;
}
.asidebar-wrap .person-card .card-icon{
    display: block;
    width: 100%;
    height: 100%;
}
.asidebar-wrap .person-card:hover{
    background: url(../images/icon_person_card_active.png) no-repeat center;
}
.asidebar-wrap .person-card .card-txt{
    position: absolute;
    right: 41px;
    top:0;
    background: #000;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #fff;
    width: 70px;
    text-align: center;
    font-size: 12px;
}
/*浏览历史*/
.asidebar-wrap .person-history{
    display: block;
    background: url(../images/icon_person_history.png) no-repeat center;
    height: 31px;
    margin-bottom: 18px;
    position: relative;
}
.asidebar-wrap .person-history .history-icon{
    display: block;
    width: 100%;
    height: 100%;
}
.asidebar-wrap .person-history:hover{
    background: url(../images/icon_person_history_active.png) no-repeat center;
}
.asidebar-wrap .person-history .history-txt{
    position: absolute;
    right: 41px;
    top:0;
    background: #000;
    height: 31px;
    display: block;
    line-height: 31px;
    color: #fff;
    width: 70px;
    text-align: center;
    font-size: 12px;
}
/* qq*/
.asidebar-wrap .person-qq{
    display: block;
    background: url(../images/icon_qq.png) no-repeat center;
    height: 31px;
    margin-bottom: 18px;
}
.asidebar-wrap .person-qq:hover{
    background: url(../images/icon_qq.png) no-repeat center,#f05353;
}
/*homeBack*/
.asidebar-wrap .home-back-wrap{
    background: #fff;
    padding-top: 5px;
}
.asidebar-wrap .home-back-wrap .home-back{
    background: #000;
    padding-top: 16px;
    cursor: pointer;
    padding-bottom: 8px;
}
.asidebar-wrap .home-back-wrap .home-back i{
    display: block;
    height: 8px;
    background: url(../images/icon_top.png) no-repeat center;
}
.asidebar-wrap .home-back-wrap .home-back span {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    color: #fff;
}






























