.order-header{
    width: 996px;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 45px;
    min-height: 606px;
}
.order-header .order-header-logo{
    width: 201px;
    height: 62px;
    overflow: hidden;
}
.order-header .order-header-logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.order-header .order-header-logo a img{
    width: 100%;
    height: 100%;
}
.order-header .order-header-step{
    width: 480px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.order-header .order-header-step .order-step-group{
    width: 33.333%;
    position: relative;
    height: 6px;
    border-radius:3px;
}
.order-header .order-header-step .order-step-group .order-step-number{
    position: absolute;
    left: 0;
    top: -6px;
    width: 100%;
}
.order-header .order-header-step .order-step-group .order-step-number i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    display: block;
    text-align: center;
    margin:0 auto;
}
.order-header .order-header-step .order-step-group .order-step-number span{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: block;
    width: 100%;
}
.order-header .order-header-step .order-step-active .order-step-number{
    top:-9px!important;
}
.order-header .order-header-step .order-step-active .order-step-number i{
    width: 24px!important;
    height: 24px!important;
    line-height: 24px;
}
.order-header .order-header-step .bg-yellow{
    background: #ffe8c2;
}
.order-header .order-header-step .color-yellow{
    color: #ffe8c2;
}
.order-header .order-header-step .bg-coffee{
    background: #cc9b4b;
}
.order-header .order-header-step .color-coffee{
    color: #cc9b4b;
}
.order-header .order-header-step .bg-gray{
    background: #dbdbdb;
}
.order-header .order-header-step .color-gray{
    color: #dbdbdb;
}
.order-header .order-header-step .interface{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top:0;
    position: absolute;
    z-index: 999;
}
.order-header .order-header-step .interface-left{
    left: -3px;
}
.order-header .order-header-step .interface-right{
    right: -3px;
}
.order-header .content-header {
    font-size: 16px;
    line-height: 80px;
    font-weight: bold;
}
.order-header .content-header span{
    padding-left: 8px;
    padding-right: 8px;
}
.order-header .content-header span mark{
    font-size: 16px;
    background: transparent;
    color: #f05353;
}
.order-header .content-body{
    width: 760px;
    margin: 0 auto;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1),-1px -1px 8px rgba(0,0,0,0.1);
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 86px;
    border-radius: 4px;
}
.order-header .content-body h6{
    font-weight: normal;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 16px;
}
.order-header .content-body .body-content{
    padding-left: 103px;
    padding-right: 53px;
}
.order-header .content-body .body-content .code-wrap{
    padding-top: 33px;
}
.order-header .content-body .body-content .code-wrap .code-img{
    width: 214px;
    height: 214px;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 16px;
    margin-bottom: 17px;
}
.order-header .content-body .body-content .code-wrap .code-img img{
    width: 214px;
    height: 214px;
}
.order-header .content-body .body-content .code-wrap .code-tips{
    width: 206px;
    background: #f05353;
    height: 48px;
    text-align: center;
    padding-left: 40px;
    margin: 0 auto;
}
.order-header .content-body .body-content .code-wrap .code-tips .code-icon{
    width: 37px;
    height: 48px;
    background: url(../images/gg_icon_weichart_code.png) no-repeat center;
    background-size: 37px 37px;
    display: inline-block;
    margin-right: 27px;
}
.order-header .content-body .body-content .code-wrap .code-tips span{
    width: 102px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    display: inline-block;
    margin-top: 4px;
}
.order-header .content-body .body-content .phone-img{
    padding-top: 16px;
}
.order-header .content-body .body-content .phone-img img{
    width: 338px;
    height: 338px;
}
