html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, dl, dt, dd, ol, ul, li,
form, label,table,tbody, tfoot, thead, tr, th, td,mark
{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
