<!DOCTYPE html>
<html lang="en">
<head>
    <!--清除浏览器缓存-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <!--设备 IE  最高版本-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <!--定义 语言类型-->
    <meta http-equiv="CONTENT-TYPE" content="text/html" charset="utf-8">
    <!--设置视口宽度与设备宽度， 禁止用户缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--X5内核 全屏显示-->
    <meta name="x5-fullscreen" content="true">
    <!--uc内核  全屏显示-->
    <meta name="full-screen" content="yes">
    <!--描述-->
    <meta name="description" content="山国饮艺">
    <!--关键字-->
    <meta name="keywords" content="山国饮艺">
    <title>售后协商</title>
    <!--公共部分-->
    <!--HTML标签样式重置-->
    <link href="css/normalize.css" rel="stylesheet">
    <!--移动端css重置-->
    <link href="css/reset.css" rel="stylesheet">
    <!--rem适配  设计图750*1334-->
    <script src="js/viewport_rem.js"></script>
    <!--公共部分   ending-->
    <!--单独样式-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/person_center_back_money_consult_refuse.css" rel="stylesheet">
</head>
<body>

    <div id="orderConsult">
        <template v-for="item in detail.replyList">
            <!--用户-->
            <template v-if=" item.operManType == 'buyer' ">
                <section class="customer">
                    <div class="group-time">
                        <span class="time">{{item.dateCreated}}</span>
                    </div>
                    <div class="group-txt">
                        <i class="icon-triangle"></i>
                        <h5>买家发起了申请</h5>
                        <p>发起了<span>{{item.replyType}}</span>，货品状态：<span>{{detail.orderStatus}}</span>，原因：<span>{{item.operReason}}</span><span v-if="(item.orderFlowType == 'refund') || (item.orderFlowType == 'refund_return') && item.operAmount ">，退款金额{{item.operAmount}}元</span></p>
                    </div>
                </section>
                <template v-if="$index == 0">
                    <section class="customer-server" id="orange">
                        <div class="group-time">
                            <span class="plate"><i></i>优茶联平台</span>
                            <span class="time">{{item.dateCreated}}</span>
                        </div>
                        <div class="server-txt">
                            <i class="icon-triangle"></i>
                            <h5>待优茶联处理</h5>
                            <div class="txt">
                                <p>如优茶联同意，请按照给出的换货地址退货</p>
                                <p>如优茶联拒绝，您可修改申请，卖家会重新处理</p>
                                <p>如优茶联在<i class="icon-clock"></i><mark>05</mark>天<mark>24</mark>时<mark>00</mark>分内未处理，申请将自动达成，请系统给出的地址换货</p>
                                <p>请勿相信任何人给您发来的可以退款的链接，以免钱款被骗</p>
                            </div>
                        </div>
                    </section>
                </template>
            </template>
            <template v-if=" item.operManType != 'buyer' ">
                <!--平台-->
                <section class="customer-server">
                    <div class="group-time">
                        <span class="time">{{item.dateCreated}}</span>
                    </div>
                    <div class="server-txt">
                        <i class="icon-triangle"></i>
                        <h5>优茶联{{item.operDesc}}</h5>
                        <div class="txt">
                            <p>{{item.remark}}</p>                      
                        </div>
                    </div>
                </section>
            </template>

        </template>

        <template v-if=" flowStatus=='refuse_refund' || flowStatus=='refuse_exchange' || flowStatus=='refuse_return' || flowStatus=='refund'  ">
            <section class="submit center-block">
                <div class="submit-wrap pull-right">
                    <a href="javascript:;">再次申请</a>
                </div>
            </section>
        </template>
    </div>
</body>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bizhelp.js"></script>
    <script>
        /*开启加载动画*/
        Util.common.addloadingAnimate();
        /*隐藏微信自带的分享功能*/
        $(function () {
            /*发送请求*/
            orderConsult.initOrderConsult();
            //                微信分享
            //Util.weixinMenu.share(sessionStorage.getItem('shopImg'),sessionStorage.getItem('shopName'),'index');
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                // 通过下面这个API隐藏右上角按钮
                WeixinJSBridge.call('hideOptionMenu');
            });
        });
        /*渲染数据*/
        var orderConsult = new Vue({
            el:"#orderConsult",
            data:{
                detail:{}
            },
            computed:{},
            methods:{
                initOrderConsult:function(){
                    var url="weixin/afterSale/getOrderReplyList";
                    var param = {"orderId":Util.common.getParameter("orderId"),"skuId":Util.common.getParameter("skuId")};
                    Util.common.b2cPostCallback(url,param,function(data){
                        if(data.success && data.data){
                            var dataInfo = data.data;
                            /*关闭加载动画*/
                            Util.common.removeloadingAnimate("orderConsult");
                            console.log(dataInfo);
                            dataInfo.orderStatus = Util.common.getParameter('orderStatus');
                            dataInfo.flowStatus = Util.common.getParameter('flowStatus');
                            /*设定申请售后的类型变量*/
                            if(dataInfo.replyList && dataInfo.replyList.length > 0){
                                for(var i=0;i<dataInfo.replyList.length;i++){
                                    if( dataInfo.replyList[i].orderFlowType == "exchange" ){
                                        dataInfo.replyList[i].replyType = "换货";
                                    }else if( dataInfo.replyList[i].orderFlowType == "refund" ){
                                        dataInfo.replyList[i].replyType = "退款";
                                    }else if( dataInfo.orderFlowType == "refund_return" ){
                                        dataInfo.replyList[i].replyType = "退货退款";
                                    }
                                    dataInfo.replyList[i].dateCreated = tofromTime(new Date(dataInfo.replyList[i].dateCreated));
                                }
                            }

                            orderConsult.$set('detail',dataInfo);
                        }else{
                            new Toast({context:$('body'),message: data.msg }).show();
                        }
                    })
                },

            }
        });
    </script>
</html>