<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/fonts/iconfont.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/sorts.css">
    <title>分类</title>
</head>
<body id="sorts" class="bg-white sorts">
<div id="sortsCon" class="op0">
   <div class="dis-tabel w100">
	   	<div class="left">
	       <div class="dis-cell sort-left">
	            <ul>
	                <template v-for="one in classifyList">
	                    <li class="one" :class="[,{'selectOne': one.id === oneClassify.id }]" @click="clickOne(one)">{{one.name}}</li>
	                </template>
	            </ul>
	       </div> 
	    </div>
	    <div class="content" id="wrapper" style="-webkit-overflow-scrolling: touch;">
	       <div class="dis-cell sort-right sroller content-right" >
	           <div id="type1" class="sort2">
                   <template v-if="oneClassify">
                       <template v-if="two.children.length > 0" v-for="two in oneClassify.children">
                       <div class="sort1">
                            <div class="classify-header">
                                 <h6>{{two.name}}</h6>
                                 <a class="classify-link-btn" v-on:click="linkProductList('classifyIds',two.id)">全部 ></a>
                            </div>
                            <ul class="classify-body clearfix">
                                <template v-if="two.children.length > 0" v-for="three in two.children">
                                    <li v-on:click="linkProductList('classifyIds',three.id)" class="fl">
                                        <div id="brand{{three.id}}" class="brand-con"><img class="op8" :src="three.imgUrl || './img/icons/tea.png'" alt=""></div>
                                        <div class="product-name">{{three.name}}</div>
                                    </li>
                                </template>
                            </ul>
                       </div>
                       </template>
                       <template v-if="oneClassify.brandList && oneClassify.brandList.length > 0">
                           <div class="sort1">
                               <div class="classify-header">
                                   <h6>品牌</h6>
                               </div>
                               <ul class="classify-body clearfix">
                                   <template v-for="brand in oneClassify.brandList">
                                       <li v-on:click="linkProductList('brandIds',brand.id)" class="fl">
                                           <div class="brand-con"><img class="op8" :src="brand.logo || './img/icons/tea.png'" alt=""></div>
                                           <div class="product-name">{{brand.name}}</div>
                                       </li>
                                   </template>
                               </ul>
                           </div>
                       </template>
                   </template>
                </div>
           </div>
   </div>
   </div>
   <div class="br4"></div>
   <ul class="footer clearfix">
       <li v-on:click="gotoIndex()" class="fl w25">
           <div><img src="img/icons/footer1.png" alt=""></div>
           <p >首页</p>
       </li>
       <li class="fl w25">
           <div><img src="img/icons/footer2a.png" alt=""></div>
           <p class="color-main">分类</p>
       </li>
       <li onclick="jumpTo('cart')" class="fl w25">
           <div class="footer-cart"><img src="img/icons/footer3.png" alt=""> <i v-if="cartCount != 0">{{cartCount}}</i></div>
           <p>购物车</p>
       </li>
       <li onclick="jumpTo('person')" class="fl w25">
           <div><img src="img/icons/footer4.png" alt=""></div>
           <p>个人中心</p>
       </li>
   </ul>
</div>
</body>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/iscroll.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>

<script>
    Util.common.addloadingAnimate();

    $(function () {
        stortsData.loadlist();
        stortsData.getCartCount();
        //                微信分享
        Util.weixinMenu.share(sessionStorage.getItem('shopImg'),sessionStorage.getItem('shopName'),'index');
    });
    Util.scrollMar.setPos("sorts", 0, 1); 
    var stortsData=new Vue({
        el: '#sorts',
        data: {
            oneActive:'',
            oneName:'',
            sortType: [],
            useType:[],
            brandType:[],
            secondTit:[],
            thirdTit:[],
            param:{
                startPrice:'',
                endPrice:'',
                brandId:'',
                use:'',
                oneType:'',
                twoType:'',
                threeType:''
            },
            cartCount:'',
            //分类列表
            classifyList: [],
            //一级分类
            oneClassify: {},
            //

        },
        computed: {

        },
        methods: {
//            加载一级菜单列表
            loadlist:function() {
                let url = 'weixin/purchaseGoods/getClassifyList'
                Util.common.b2bPostCallback(url, {}, function(data) {
                    if (data.success && data.data) {
                        let dataInfo = data.data
                        if (dataInfo.classifyList && dataInfo.classifyList.length>0) {
                            stortsData.$set('classifyList', dataInfo.classifyList)
                            stortsData.$set('oneClassify', dataInfo.classifyList[0])
                            Util.common.removeloadingAnimate('sortsCon')
                        }
                    } else {
                        new Toast({context:$('body'),message: data.msg}).show();
                    }
                })
            },
            /*跳转到列表页*/
            linkProductList:function(paramsKey,paramsValue){
                window.location.href = "today.html?" + paramsKey + "=" + paramsValue;
            },
            getCartCount: function () {
//            获取购物车内商品数

                var url ="/weixin/cart/getCartCount.do";
                var param = {"userId": sessionStorage.getItem("userid"), "shopId": sessionStorage.getItem("shopId")};

                Util.common.executeAjaxCallback(url, param, function (data) {
                    console.log(data);
                    if(data != '' && data != null && data !=0) {
                        if (data*1 > 100) {
                            data = '99+';
                        }
                        stortsData.$set('cartCount',data);
                    } else {
                        stortsData.$set('cartCount',0);
                    }
                });
            },
            gotoIndex:function () {
                window.location.href="index.html?storeId="+sessionStorage.getItem('shopId')+"&userId="+sessionStorage.getItem('userid');
            },
            clickOne:function (one) {
                stortsData.$set('oneClassify', one)
                $("#wrapper").scrollTop(0);
            },
            clickTwo:function (id,type) {
                if(type==0){
                    stortsData.$set('param.twoType',id);
                    $(".two").removeClass('btn-active');
                    $("#two"+id).addClass('btn-active');
                    stortsData.submitCondit();
                }else {
                    if ($("#two" + id).hasClass('btn-active')) {
                        $("#two" + id).removeClass('btn-active');
                        $(".three-con").hide();
                        stortsData.$set('param.twoType', '');
                    } else {
                        $(".two").removeClass('btn-active');
                        $("#two" + id).addClass('btn-active');
                        $(".three-con").hide();
                        $("#se" + id).show();
                        stortsData.$set('param.twoType', id);
                    }
                }



            },
            clickThree:function (id,id2) {
                stortsData.$set('param.threeType',id);
                $(".three"+id2).css('background','#f2f2f2');
                $(".three"+id2).css('color','#666');
                $("#three"+id).css('background','#adadad');
                $("#three"+id).css('color','#fff');
                stortsData.submitCondit();
            },
            clickUse:function (id) {
                stortsData.$set('param.use',id);
                $(".use").removeClass('btn-active');
                $("#use"+id).addClass('btn-active');
                stortsData.submitCondit();
            },
            clickBrand:function (id) {
                stortsData.$set('param.brandId',id);
                $(".brand-con").removeClass('btn-active');
                $("#brand"+id).addClass('btn-active');
                stortsData.submitCondit();
            },
            submitCondit:function () {
                console.log(this.param);
//                sortType=1分类页面跳转列表
                document.location.href = "today.html?sortType=1&sortInfo=" + JSON.stringify(this.param)+'&title='+stortsData.oneName+'&classify='+this.param.oneType;

            }
        }
    });

</script>
</html>
