<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/fonts/iconfont.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/style.css">
    <title>重置密码</title>
</head>
<body id="reset-ps" class="bg-main address-edit">
    <template v-if="!isSendVerifi">
        <ul class="lists">
            <li class="dis-tabel border-b1 bg-white w100">
                <div class="dis-cell info-name">手机号：</div>
                <template v-if="!isLogin">
                    <p class="dis-cell">
                        <input type="text" v-on:input="checkPhone()"  placeholder="请输入手机号码" v-model="mobileNumber" maxlength="11">
                    </p>
                </template>
                <template v-if="isLogin">
                    <p class="dis-cell">
                        {{mobileNumber}}
                    </p>
                </template>
            </li>
            <li class="dis-tabel border-b1 bg-white w100" style="padding: 0.6rem 0.4rem;">
                <div class="dis-cell info-name">校验码：</div>
                <p class="dis-cell">
                    <input type="text" placeholder="请输入图片校验码" v-model="imgCode">
                </p>
                <div class="img-code" v-on:click="switchImgCode()">
                    <img id="imgs">
                </div>
            </li>
            <li class="dis-tabel border-b1 bg-white w100">
                <div class="dis-cell info-name">验证码：</div>
                <p class="dis-cell">
                    <input type="text" name="receiptName" placeholder="请输入验证码" v-model="AccessCode">
                </p>
                <div class="dis-cell" id="get_message">
                    <template v-if="isGetCode">
                        <div class="color-main" id="getCode" v-on:click="accessCode()">{{countText}}</div>
                    </template>
                    <template v-else>
                        <div class="color-main">{{count}}s</div>
                    </template>
                </div>
            </li>
        </ul>
        <div id="saveBtn" class="big-btn btn-active" v-on:click="doNext()">下一步</div>
    </template>
    <template v-else>
        <ul class="lists">
            <li class="dis-tabel border-b1 bg-white w100">
                <div class="dis-cell info-name">新密码:</div>
                <p class="dis-cell">
                    <input type="password" name="mobile" placeholder="请输入新密码" v-model="newPwd">
                </p>
            </li>
            <li class="dis-tabel border-b1 bg-white w100">
                <div class="dis-cell info-name">确认密码:</div>
                <p class="dis-cell">
                    <input type="password" name="receiptName" placeholder="请再输入密码" v-model="reNewPwd">
                </p>
            </li>
        </ul>
        <div id="saveBtn" class="big-btn btn-active" v-on:click="resetPassword()">完成</div>
    </template>
</body>

<script src="js/jquery-1.8.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
<script src="js/common.js"></script>
<script src="js/md5.js"></script>
<script>

    $(function () {
        noticeData.switchImgCode();
        console.log(noticeData.imgCode);
        noticeData.getUserInfo();
        /*获取验证码!*/
        /*$("#getCode").on("click",function(){
            $(this).hide().siblings("#codeTips").show();
            setTimeout(function(){
                $("#getCode").show().siblings("#codeTips").hide();
            },59000);
            $("#getCode").html("重新获取验证码");
        });*/

        //                微信分享
        //Util.weixinMenu.share(sessionStorage.getItem('shopImg'),sessionStorage.getItem('shopName'),'index');
        document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
            // 通过下面这个API隐藏右上角按钮
            WeixinJSBridge.call('hideOptionMenu');
        });

    })
    var start = 0;
    var noticeData=new Vue({
        el:'#reset-ps',
        data:{
            isLogin:false,
            isSendVerifi: false,
            mobileNumber:'',
            AccessCode:'',
            count: 60,
            newPwd:'',
            reNewPwd:'',
            requestRandom:'',
            imgCode:'',
            //是否获取验证码状态
            isGetCode: true,
            countText: '获取验证码',
        },
        computed:{

        },
        methods:{
            /*获取用户登录信息*/
            getUserInfo:function(){
                var url = 'weixin/user/userInfo';
                var param = null;
                Util.common.b2bPostCallback(url,param,function(result){
                    if(result.success){
                        if(result.data.mobile && result.data.mobile != null){
                            noticeData.isLogin = true;
                            noticeData.mobileNumber = result.data.mobile;
                            console.log(noticeData.mobileNumber);
                        }
                    }
                });
            },
            checkPhone:function(){
                if(!$.validatePhone(noticeData.mobileNumber) && noticeData.mobileNumber.length == 11){
                    new Toast({context:$('body'),message:"手机号码不合法！"}).show();
                }
            },
            /*切换图片验证码*/
            switchImgCode:function(){
                noticeData.requestRandom = Math.random();
                $("#imgs").attr("src", Util.common.b2bUrlApi + "weixin/user/getVerifyImg?requestId=" + noticeData.requestRandom);
            },
            accessCode:function(){
                noticeData.count = 60;
                if( noticeData.mobileNumber == '' || noticeData.mobileNumber == null ){
                    new Toast({context:$('body'),message:"手机号码不能为空！"}).show();
                    return;
                }
                if(!$.validatePhone(noticeData.mobileNumber)){
                    new Toast({context:$('body'),message:"手机号码不合法！"}).show();
                    return;
                }
                if(noticeData.imgCode == '' || noticeData.imgCode == null){
                    new Toast({context:$('body'),message:"图片验证码不能为空"}).show();
                    return;
                }
                var url = "/weixin/user/sendSms";
                console.log(noticeData.requestRandom);
                var param = { requestId:noticeData.requestRandom,phoneCode:noticeData.mobileNumber,iptVerifyCode:noticeData.imgCode,smsType:"resetPwd" };
                Util.common.b2bPostCallback(url,param,function(result){
                    if(result.success){
                        new Toast({context:$('body'),message:"发送成功"}).show();
                        InterValObj = window.setInterval(SetRemainTime, 1000);
                        noticeData.isGetCode = false;
                    }else{
                        new Toast({context:$('body'),message:result.msg}).show();
                        noticeData.switchImgCode();
                    }
                });
            },
            doNext:function(){
                if( noticeData.mobileNumber == '' || noticeData.mobileNumber == null ){
                    new Toast({context:$('body'),message:"手机号码不能为空！"}).show();
                    return;
                }
                if(!$.validatePhone(noticeData.mobileNumber)){
                    new Toast({context:$('body'),message:"手机号码不合法！"}).show();
                    return;
                }
                if( noticeData.AccessCode == '' || noticeData.AccessCode == null ){
                    new Toast({context:$('body'),message:"请填写手机验证码！"}).show();
                    return;
                }
                var url = "weixin/user/checkVerifyCode";
                var param = {};
                param.smsType = "resetPwd";
                param.phoneCode = noticeData.mobileNumber;
                param.verifyCode = noticeData.AccessCode;
                Util.common.b2bPostCallback(url,param,function(result){
                    if(result.success){
                        noticeData.isSendVerifi = true;
                    }else{
                        new Toast({context:$('body'),message:result.msg}).show();
                    }
                });

            },
            /*密码的合法性*/
            resetPassword:function(){
                if(noticeData.newPwd == '' || noticeData.newPwd == null){
                    new Toast({context:$('body'),message:"密码不能为空！"}).show();
                    return;
                }
                if($.trim(noticeData.newPwd).length < 6 ){
                    new Toast({context:$('body'),message:"【密码为6-20位数字及字母的组合】"}).show();
                    return;
                }
                if( noticeData.newPwd !== noticeData.reNewPwd ){
                    new Toast({context:$('body'),message:"两次输入的密码不一致<br>请重新输入！"}).show();
                    return;
                }
                var url = 'weixin/user/resetPwd';
                var params = {};

                var newPwd = hex_md5(noticeData.newPwd);
                var reNewPwd = hex_md5(noticeData.reNewPwd);

                /*var newPwd = noticeData.newPwd;
                var reNewPwd = noticeData.reNewPwd;*/
                console.log(newPwd);
                console.log(reNewPwd);
                params.modelJsonStr = JSON.stringify( {verifyCode:noticeData.AccessCode,password:newPwd,repassword:reNewPwd,mobile:noticeData.mobileNumber} );
                Util.common.b2bPostCallback(url,params,function(result){
                    if(result.success){
                        new Toast({context:$('body'),message:"修改成功！"}).show();
                        setTimeout(function(){
                            window.location.href = "login.html";
                        },2000)
                    }else{
                        if (result.errorCode == '52001') {
                            result.msg = '帐号不存在，请先注册！';
                        } else if(result.errorCode == '52002'){
                            result.msg = '帐号还在审核中，无法修改密码！';
                            setTimeout(function(){
                                window.location.href='register_check.html';
                            },4000);
                        } else if(result.errorCode == '52003'){
                            result.msg = '账号已禁用';
                        } else if(result.errorCode == '52004'){
                            result.msg = '账号或密码错误';
                        }
                        new Toast({context:$('body'),message:result.msg}).show();
                    }
                });
            },

        }
    });
    function SetRemainTime() {
        if (noticeData.count == 0) {
            window.clearInterval(InterValObj);
            noticeData.isGetCode = true;
            noticeData.countText = "重新获取"
            noticeData.switchImgCode();
        } else {
            noticeData.count--;
        }
    }
</script>
</html>