html,
body {
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

ul, li, p {
    padding: 0;
    margin: 0;
}

#city_container {
    position: relative;
}

.city_name {
    color: #6f6f6f;
    width: 85%;
    text-indent: 1em;
    border-bottom: 1px solid #f1f2f4;
    padding: .6rem 0;
    font-size: 0.8125rem;
    cursor: pointer;
}

#search_wrap {
    background-color: #1C1C1C;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    height: 5vh;
    padding: 0.6125rem 0;
    line-height:25px;
}
#search_wrap .selected_city{
	background: url("../img/icons/city_up.png")center center no-repeat;
	background-size: 1.0rem;
	padding-left: 1.2rem;
}
#search_wrap p {
    width: 63%;
    background-color:rgba(255,255,255,0.4);
    -moz-border-radius: 4rem;
    -webkit-border-radius: 4rem;
    border-radius: 4rem;
/*     border: 1px solid #e0e0e0; */
	/* margin: 0 auto; */
	margin-left:1rem;
}
.location{
	padding-left: 0.6125rem;
	color:white;
	vertical-align:center;
	line-height: 28px;
}
.search-icon{
    background: url("../img/icons/search.png") 0.6rem center no-repeat;
    background-size: 1.25rem;
}
#search_wrap p img {
    vertical-align: middle;
    width: 1.1rem;
    margin-left: .6rem;
    background: url("../img/icons/search.png") 0.6rem center no-repeat;
    background-size: 1.25rem;
}

#search_wrap p input {
   background-color: transparent;
    vertical-align: middle;
    width: 85%;
    font-size: 0.8125rem;
    margin-left: .5rem;
    border: none;
    outline: none;
    font-family: '黑体';
    color: #ffffff;
    padding: 0.3rem 0 0.4rem 2.5rem;
}

#search_wrap p input::-webkit-input-placeholder {
    color: #d4d4d4 !important;
    /* WebKit browsers */
}

#search_wrap p input:-moz-placeholder {
    color: #d4d4d4 !important;
    /* Mozilla Firefox 4 to 18 */
}

.page {
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 3rem;
}

#search_ul {
    background-color: #fff;
    display: none;
}

#search_ul li {
    width: 100%;
}

.city_list {
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.city_list .city_letter {
    background-color: #f1f2f4;
    text-indent: 1em;
    padding: .2rem 0;
}

.city_list li:last-child {
    border-bottom: none;
}

#letter_ul {
    position: fixed;
    top: 55%;
    right: 0rem;
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    z-index: 2;
}

#letter_ul li {
    cursor: pointer;
    padding: 0 1rem;
    font-size: 0.8125rem;
}
#topView {
    color: #6f6f6f;
    width: 100%;
    text-indent: 1em;
    border-bottom: 1px solid #f1f2f4;
    padding: .6rem 0;
    font-size: 0.8125rem;
    cursor: pointer;
    background-color: #fff;
}
#locCity{
    color: #CC9B4B !important;
}

.btn-active{
    background: #CC9B4B;
    color:#ffffff !important;
    border-color:#CC9B4B !important;
    font-size: 0.75rem;
    padding: 0.2rem 0;
    width: 4.5rem;
    border-radius: 6px;
    float: right;
    margin: -0.2rem 0.8125rem 0 0;
}