body{
    background: #f3f2f5;
}
.group{
    display: block;
    border-bottom: 2px solid #f3f2f5;
    position: relative;
    font-size: 0.52rem;
    line-height: 1.76rem;
    background: #fff;
}
.group i{
    display: inline-block;
    width:1.76rem;
    height: 1.76rem;
    vertical-align: text-bottom;
}
.group .icon-right{
    position: absolute;
    right: 0;
    width: 1.76rem;
    height: 1.76rem;
    display: inline-block;
    background: url("../img/g_icon_right_gray.png") no-repeat center;
    background-size: 0.3rem;
}
.pwd i{
    background: url("../img/gg_icon_resetPassword.png") no-repeat center;
    background-size: 0.76rem;
}
.advice i{
    background: url("../img/gg_icon_advice.png") no-repeat center;
    background-size: 0.76rem;
}
.about-us i{
    background: url("../img/gg_icon_aboutUs.png") no-repeat center;
    background-size: 0.76rem;
}
.server i{
    background: url("../img/gg_icon_server.png") no-repeat center;
    background-size: 0.76rem;
}
footer{
    margin-top: 10rem;
    text-align: center;
}
footer .logout{
    display: inline-block;
    width: 13.2rem;
    height: 1.68rem;
    color: #fff;
    font-size: 0.6rem;
    text-align: center;
    background: #cc9b4b;
    line-height: 1.68rem;
    border-radius: 6px;
}

