body {
  background: #f3f2f5;
  padding-top: 1.6rem;
  padding-bottom: 2rem;
}
header {
  font-size: 0.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: #1c1c1c;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 111111;
  border-bottom: 1px solid #f3f2f5;
}
header a {
  display: inline-block;
  color: #666;
  width: 2.12rem;
  height: 1.62rem;
  font-size: 0.52rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.wrap {
  width: 100%;
}
.wrap .track-time{
  font-size: 0.6rem;
  line-height: 2rem;
  color: #727273;
}
.wrap .track-time label {
  display: inline-block;
  width: 1.4rem;
  height: 2rem;
  background: url(../img/g_icon_none_checked.png) no-repeat center;
  background-size: 0.72rem 0.72rem;
}
.wrap .track-time .time-check {
  background: url(../img/g_icon_checked.png) no-repeat center;
  background-size: 0.72rem 0.72rem;
}
.wrap .track-time .time{
  margin-left: 0.3rem;
}
.wrap ul {
  width: 100%;
  overflow: hidden;
}
.wrap ul .li-left-active {
  transform: translateX(0rem) !important;
}
.wrap ul li {
  width: 18.4rem;
  background: #fff;
  transform: translateX(-1.4rem);
}
.wrap ul li label {
  width: 1.4rem;
  height: 4.4rem;
  background: url(../img/g_icon_none_checked.png) no-repeat center;
  background-size: 0.72rem 0.72rem;
}
.wrap ul li .checkbox-active {
  background: url(../img/g_icon_checked.png) no-repeat center;
  background-size: 0.72rem 0.72rem;
}
.wrap ul li .product-information {
  width: 14.8rem;
  padding-left: 0.2rem;
  position: relative;
}
.wrap ul li .product-information .information {
  display: block;
  position: relative;
}
.wrap ul li .product-information .information .product-img {
  width: 4.4rem;
  height: 4.4rem;
  overflow: hidden;
  margin-right: 0.2rem;
}
.wrap ul li .product-information .information .product-img img {
  width: 4.4rem;
  height: 4.4rem;
}
.wrap ul li .product-information .information .product-txt {
  width: 10rem;
  padding-left: 0.2rem;
  height: 4.6rem;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 0.2rem;
}
.wrap ul li .product-information .information .product-txt h6 {
  font-size: 0.52rem;
  color: #1c1c1c;
  line-height: 0.72rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.32rem;
  width: 8rem;
  max-height: 1.44rem;
  overflow: hidden;
}
.wrap ul li .product-information .information .product-txt h6 i {
  font-size: 0.36rem;
  color: #fff;
  background: #cc9b4b;
  border-radius: 0.08rem;
  font-style: normal;
  display: inline-block;
  padding-left: 0.08rem;
  padding-right: 0.08rem;
  margin-right: 0.16rem;
}
.wrap ul li .product-information .information .product-txt .tips {
  margin-bottom: 0.32rem;
}
.wrap ul li .product-information .information .product-txt .tips span {
  font-size: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  padding-left: 0.12rem;
  padding-right: 0.12rem;
  background: #f05353;
  border-radius: 0.12rem;
  margin-right: 0.2rem;
  color: #fff;
}
.wrap ul li .product-information .information .product-txt .price {
  font-size: 0.44rem;
  color: #999;
  text-align: left;
}
.wrap ul li .product-information .information .product-txt .price sub {
  font-size: 0.4rem;
  bottom: 0;
  color: #f05353;
}
.wrap ul li .product-information .information .product-txt .price .single-price {
  color: #f05353;
  font-size: 0.6rem;
}
.wrap ul li .product-information .information .product-txt .price sup {
  font-size: 0.48rem;
  color: #f05353;
  top: 0;
}
.wrap ul li .product-information .information .product-txt .quantity {
  font-size: 0.44rem;
  color: #999;
}
.wrap ul li .delete-box a {
  display: block;
  width: 1.2rem;
  background: #f05353;
  color: #fff;
  text-align: center;
  font-size: 0.52rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 3.16rem;
  line-height: 0.92rem;
  padding-top: 1.68rem;
}
#operationBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.7rem;
  width: 100%;
  display: none;
}
#operationBtn a {
  width: 50%;
  font-size: 0.48rem;
  line-height: 1.78rem;
  text-align: center;
}
#operationBtn .cart {
  background: #cc9b4a;
  color: #fff;
}
#operationBtn .delete {
  background: #f05353;
  color: #fff;
}
/*足迹  （空）*/
#emptyTip{
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.empty-icon{
  width: 30%;
  margin: 0 auto;
  padding-top: 3rem;
}
.empty-icon img{
  width: 100%;
}
#emptyTip .empty-txt{
  font-size: 0.56rem;
  color: #999;
  text-align: center;
}
#emptyTip .empty-link-btn{
  width: 30%;
  height: 1rem;
  font-size: 0.56rem;
  background: #cc9b4b;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  line-height: 1rem;
  margin-top: 1rem;
}

.hot-link{
  width: 80%;
  height: 94%;
  position: absolute;
  left: 10%;
  top:0;
}

.wrap ul li .off-sale{
  width: 1.4rem;
  height: 4.4rem;
  text-align: center;
}
.wrap ul li .off-sale i{
  font-style: normal;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 0.3rem;
  line-height: 1rem;
  border-radius: 3px;
  height: 1rem;
  margin-top: 1.7rem;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
.off-sale-img{
  background: url(../img/icons/sellover2.png) no-repeat center;
  background-size: 2rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  border-radius: 4rem;
}