<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/fonts/iconfont.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/style.css">

    <title>活动专区</title>
</head>
<body class="bg-main group">
<div id="group">
    <div class="top dis-tabel">
        <div class="dis-row">
            <div class="search dis-cell">
                <input class="search-icon"  type="text" placeholder="搜索商品名称/关键字" onfocus="goodSearchFocus()">
            </div>
            <div onclick="jumpTo('cart')" class="store-icon dis-cell cartIcon"><i v-if="cartCount != 0">{{cartCount}}</i></div>
        </div>

    </div>

    <ul class="group-goods">
        <template v-for="list in goodsList">
            <li class="dis-tabel">
                <a href="goods_detail.html?id={{list.id}}&userId={{userId}}&storeId={{storeId}}&activity=true" class="dis-cell group-goods-img"><img :src="list.showPicture" alt=""><p>{{list.state}}</p></a>
                <div class="dis-cell group-goods-des">
                    <h4>{{list.goodName}}</h4>
                    <h5>¥{{list.salePrice}}<i>¥{{list.marketPrice}}</i></h5>
                    <div class="group-line-con ub ub-ac">
                        <div class="group-line ub-f1">
                            <div id="line{{list.id}}" class="line ">&nbsp;</div>
                        </div>
                        <p class="">{{list.saleNum}}/{{list.stock}}</p>
                    </div>
                    <div id="timer-out{{list.id}}" class="group-endtime"><i class="title-show"></i>
                        <span class="timer">
                            <i class="day color-main"></i>天
                            <i class="hour color-main"></i>时
                            <i class="min color-main"></i>分
                            <i class="sec color-main"></i>秒
                        </span>
                    </div>

                </div>

            </li>
        </template>
    </ul>
    <div id="emptyIcon" style="display: none;">
        <div class="empty-icon"><img src="img/icons/no.png" alt=""></div>
        <p class="fs-14 ta-c">暂无此类商品，<br/>客官逛逛其他商品吧~</p>
    </div>
</div>
</body>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
<script>
    Util.common.addloadingAnimate();
    $(function () {
        todayData.loadlist();
        todayData.getCartCount();
        $(window).scroll(function() {
            if ($(window).scrollTop() > 0) {
                $(".cart").fadeIn(800);
            } else {
                $(".cart").fadeOut(800);
            }

            if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                todayData.loadlist(todayData.rankstr);
            }
        });

        $(".cart").click(function() {
            $('html,body').animate({
                        scrollTop: 0
                    },
                    500);
            return false;
        });
        //                微信分享
        Util.weixinMenu.share(sessionStorage.getItem('shopImg'),sessionStorage.getItem('shopName'),'index');

    });

    var counter=1;

    var todayData=new Vue({
        el:'#group',
        data:{
            userId:sessionStorage.getItem("userid"),
            storeId:sessionStorage.getItem("shopId"),
            goodsList:[],
            rankstr:'',
//                    筛选列表的值
            useType:[],
            brandType:[],
            chooseStatus:0,
            chooseData:{
                startPrice:'',
                endPrice:'',
                brandId:'',
                use:'',
                oneType:'',
                twoType:'',
                threeType:''
            },
            cartCount:'',
            intro:''
        },
        computed:{

        },
        methods:{
//                    筛选框隐藏显示
            screen:function () {
                $("#screenWin").slideToggle(350);
                if($("body").hasClass('hide')){
                    $("body").removeClass('hide');
                }else {
                    $("body").addClass('hide');
                }
            },
//                    加载商品列表
            loadlist:function () {

                var category=Util.common.getParameter("category");
                var url ="weixin/good/getSeachGoodListSer.do?goodName=&pageSize=6&shopId="+sessionStorage.getItem("shopId");
                param={'category':category,'conditionStr':'{"saleNumSort":"","priceSort":""}',"pageNum":counter};
                param. startPrice=todayData.chooseData.startPrice;
                param. endPrice=todayData.chooseData.endPrice;
                param. brandId=todayData.chooseData.brandId;
                param. use=todayData.chooseData.use;
                param. oneType=todayData.chooseData.oneType;
                param. twoType=todayData.chooseData.twoType;
                param. threeType=todayData.chooseData.threeType;

                Util.common.executeAjaxCallback(url,param,function (data) {
                    counter=counter+1;
                    console.log(data);
                    if (data==null || data.length==0){
                        console.log(todayData.goodsList.length);
                        if( todayData.goodsList.length==0){
                            $("#emptyIcon").css('display','block');
                            Util.common.removeloadingAnimate('group');
                        }
                    }else {
                        for (y in data){
                            var start=new Date(data[y].startDate.replace(/\-/g,"/")).getTime();
                            var end=new Date(data[y].endDate.replace(/\-/g,"/")).getTime();
                            data[y].start=start;
                            data[y].end=end;
                            var current=new Date().getTime();
                            if(start>current){
                                data[y].state='即将开始';
                            }else if (start<current && current<end){
                                if(data[y].saleNum>=data[y].stock){
                                    data[y].state='已抢完';
                                }else {
                                    data[y].state='抢购中';
                                }
                            }else {
                                data[y].state='已结束';
                            }
                            todayData.goodsList.push(data[y]);
                        }
                        $("#emptyIcon").css('display','none');
                        $(".part3").css('display','block');
                    }

                    setTimeout(function () {
                        for(x in todayData.goodsList){
                            console.log(todayData.goodsList[x].state);
                            if(todayData.goodsList[x].state=='即将开始' || todayData.goodsList[x].state=='抢购中'){
                                timeCounter(todayData.goodsList[x].id,todayData.goodsList[x].startDate,todayData.goodsList[x].endDate);
                            }else {
                               $("#timer-out"+todayData.goodsList[x].id).css('display','none');
                            }
                            var widths=todayData.goodsList[x].saleNum*100/(todayData.goodsList[x].stock*1);
                            $("#line"+todayData.goodsList[x].id).css("width",widths+'%');
                        }


                    },100);
                    setTimeout(function () {
                        Util.common.removeloadingAnimate('group');
                    },1000);

                });


            },
            clickUse:function (id) {
//                        选择用途
                todayData.$set('chooseData.use',id);
                $(".useC").removeClass('btn-active');
                $("#use"+id).addClass('btn-active');
            },
            clickBrand:function (id) {
//                        选择品牌
                todayData.$set('chooseData.brandId',id);
                $(".brandC").removeClass('btn-active');
                $("#brand"+id).addClass('btn-active');
            },
            toChoose:function () {
                todayData.$set('chooseStatus',1);
                todayData.screen();
                todayData.$set('goodsList',[]);
                todayData.loadlist();
            },
            saleNum:function () {
                if($("#sale").hasClass('default')){
                    $("#sale").removeClass('default');
                    $("#sale").addClass('up');
                    $("#sale").addClass('color-main');
                    this.rank(0,0);

                    $("#price").removeClass('up');
                    $("#price").removeClass('down');
                    $("#price").removeClass('color-main');
                    $("#price").addClass('default');
                }else {
                    if($("#sale").hasClass('up')){
                        $("#sale").removeClass('up');
                        $("#sale").addClass('down');
                        this.rank(0,1);
                    }else {
                        $("#sale").removeClass('down');
                        $("#sale").addClass('up');
                        this.rank(0,0);
                    }
                }
            },
            priceNum:function () {
                if($("#price").hasClass('default')){
                    $("#price").removeClass('default');
                    $("#price").addClass('up');
                    $("#price").addClass('color-main');
                    this.rank(1,0);

                    $("#sale").removeClass('up');
                    $("#sale").removeClass('down');
                    $("#sale").removeClass('color-main');
                    $("#sale").addClass('default');
                }else {
                    if($("#price").hasClass('up')){
                        $("#price").removeClass('up');
                        $("#price").addClass('down');
                        this.rank(1,1);
                    }else {
                        $("#price").removeClass('down');
                        $("#price").addClass('up');
                        this.rank(1,0);
                    }
                }
            },
            rank:function (type,num) {
                if(type==0){
//                            按销量
                    counter=1;
                    var condition='{"saleNumSort":"'+num+'","priceSort":""}';
                    todayData.$set("rankstr",condition);
                    var emp=[];
                    todayData.$set("goodsList",emp);
                    todayData.loadlist(condition);

                }else {
//                          按价格
                    counter=1;
                    var emp=[];
                    todayData.$set("goodsList",emp);
                    var condition='{"saleNumSort":"","priceSort":"'+num+'"}';
                    todayData.$set("rankstr",condition);
                    todayData.loadlist(condition);
                }
            },
            getCartCount: function () {
//            获取购物车内商品数

                var url ="/weixin/cart/getCartCount.do";
                var param = {"userId": sessionStorage.getItem("userid"), "shopId": sessionStorage.getItem("shopId")};

                Util.common.executeAjaxCallback(url, param, function (data) {
                    if(data != '' && data != null && data!=0) {
                        console.log(data);
                        if (data*1 > 100) {
                            data = '99+';
                        }
                        todayData.$set('cartCount',data);
                    } else {
                        todayData.$set('cartCount',0);
                    }
                });
            }
        }
    });


    function goodSearchFocus() {
        window.location.href="search.html?shopId="+sessionStorage.getItem("shopId")+"&userId="+sessionStorage.getItem("userid");

    }

    var timeCounter = function(id,start,end){
        setInterval(function () {
        console.log(id);
        var $timer  = $("#timer-out"+id);
        var startTime=start;
        var ednTime=end;
        startTime=startTime.replace(/\-/g,"/");
        ednTime=ednTime.replace(/\-/g,"/");
        console.log(startTime+"   "+ednTime);
        var curTimer=new Date().getTime();
        var startTimer=new Date(startTime).getTime();
        var endTimer=new Date(ednTime).getTime();;
        var t=0;
        if(startTimer>curTimer ){
            $timer.find('.title-show').html("距开始:");
            t=startTimer-curTimer;
            var d=Math.floor(t/1000/60/60/24);
            var h=Math.floor(t/1000/60/60%24);
            var m=Math.floor(t/1000/60%60);
            var s=Math.floor(t/1000%60);
            if(d<10&&d>=0){
                $timer.find('.day').html('0'+d);
            }else {
                $timer.find('.day').html(d);
            }
            if(h<10&&h >=0){
                $timer.find('.hour').html('0'+h);
            }else{
                $timer.find('.hour').html(h);
            }
            if(m<10&&m >=0){
                $timer.find('.min').html('0'+m);
            }else{
                $timer.find('.min').html(m);
            }
            if(s<10 && s>=0){
                $timer.find('.sec').html('0'+s);
            }else{
                $timer.find('.sec').html(s);
            }

        }else if(startTimer<curTimer && curTimer<endTimer){
            $timer.find('.title-show').html("距结束:");
            t=endTimer-curTimer;

            var d=Math.floor(t/1000/60/60/24);
            var h=Math.floor(t/1000/60/60%24);
            var m=Math.floor(t/1000/60%60);
            var s=Math.floor(t/1000%60);
            if(d<10&&d>=0){
                $timer.find('.day').html('0'+d);
            }else {
                $timer.find('.day').html(d);
            }
            if(h<10&&h >=0){
                $timer.find('.hour').html('0'+h);
            }else{
                $timer.find('.hour').html(h);
            }
            if(m<10&&m >=0){
                $timer.find('.min').html('0'+m);
            }else{
                $timer.find('.min').html(m);
            }
            if(s<10 && s>=0){
                $timer.find('.sec').html('0'+s);
            }else{
                $timer.find('.sec').html(s);
            }
        }else{
            $timer.find('.title-show').html("已抢完");
            $timer.find('.timer').hide();
        }
        $timer.show();


        },1000);

    };
</script>
</html>
