<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/fonts/iconfont.css">
    <link rel="stylesheet" href="css/base.css?v=2.1.1">
    <link rel="stylesheet" href="css/ui-box.css?v=2.1.1">
    <link rel="stylesheet" href="css/style.css?v=2.1.1">
	<link href="css/citylist.css" rel="stylesheet" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Wn6viYpMDx4Xwvjdhg0nKO5ApKO6IgwP"></script>
	<title>附近茶店</title>
</head>
<body id="Map">
	<!--地图页面-->
	<div id="allmap"></div>
	<!--头部导航栏-->
	<div class="top dis-tabel">
        <div class="dis-row">
			<div class="dis-cell location fl" v-on:click="selectCityList()" v-if="cityName">{{cityName}}<i class="select_city"></i></div>
            <div class="search dis-cell fl">
                <input class="search-icon"  type="text" id="showSearch" placeholder="搜索地址" v-on:click="showSearchAddr()">
            </div>
            <!-- <div class="store-icon dis-cell"><img :src="userInfo.headimgurl" alt="" class="headIcon" onclick="jumpTo('person')"></div> -->
        </div>
    </div>
	<div class="center_mark"></div>
	<div class="reLocation" v-on:click="initMap()"></div>
	<!--底部店铺信息-->
	<div id="slider-content" v-if="shopInfoList.length > 0" class="shopInfobg">
		<ul class="swiper-wrapper">
			<template v-for="item in shopInfoList">
				<li class="swiper-slide dis-tabel" v-on:click="toHome(item)">
					<div style="padding: 0.5rem;">
					<div class="bg-white  shopInfo">
						<div class="dis-cell part1 border-l1" ><a><img v-bind:src="item.headImgUrl" alt=""><br><i>点击进店铺</i></a></div>
						<div class="dis-cell part2">
							<h4>{{item.name}}</h4>
							<h5>距离：<i class="color-main">{{item.distance}}km</i></h5>
							<h5>{{item.addrDetail}}</h5>
						</div>
					</div>
					</div>
				</li>
			</template>
		</ul>
		<div class="swiper-pagination"></div>
	</div>
	<!--搜索地址-->
	<div class="searchAddr bg-main" style="display: none">
			<div class="top dis-tabel">
			<div class="dis-row">
				<div class="search dis-cell">
					<form action="" onsubmit="return false;">
						<input class="search-icon input" required  type="text" placeholder="搜索地址/关键字" onfocus="addrSearchFocus()" id="search" onkeypress="if(event.keyCode==13) {searchAddr('');}" ><a href="javascript:$('#search').val('');" class="clear"></a>
					</form>
				</div>
				<div  class="store-icon dis-cell color-white" v-on:click="hideSearchAddr()">取消</div>
			</div>

		</div>
		<div id="searchHistory" class="searchG">
			<ul id="addrSearchListview" class="lists">
				<li>历史搜索</li>
			</ul>
			<div id="clearHository" class="big-btn">清空历史搜索</div>
		</div>
		<div id="r-result"></div>
		<div style="display: none;" id="emptyTip">
			<div class="empty-icon"><img src="img/icons/no.png" alt=""></div>
			<p class="fs-14 ta-c">找不到该地址，<br/>客官再试试其他地址吧~</p>
		</div>
	</div>
	<!--搜索城市-->
	<div id="city_container" class="cityView" style="display: none"></div>

</body>

<script src="js/citylist.js"></script>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="js/jquery.tmpl.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/main.js?v=2.1.1"></script>
<script type="text/javascript">

	sessionStorage.setItem('userid',Util.common.getParameter("userId"));
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	var swiper;
	map.centerAndZoom(new BMap.Point(118.103, 24.489), 11);  // 初始化地图,设置中心点坐标和地图级别
	map.addEventListener("tilesloaded",function(){
			map.clearOverlays();
			homeMap.$set('shopInfoList',[]);
			homeMap.slider(map.getCenter().lat,map.getCenter().lng);
			console.log(map.getCenter());
	});
	//初始化选择城市页面
	cityList.init(document.getElementById('city_container'),function (data) {
        console.log(data);
		$(".cityView").css('display','none');
		if(data.name != ""){
			map.centerAndZoom(data.name,11);      // 用城市名设置地图中心点
			homeMap.$set("cityName",data.name);
		}
    });
	$('.btn-active').click(function(){
		homeMap.initMap();
		setTimeout(function(){
			$('#locCity').text(homeMap.cityName);
		},500);
	})
	$('#locCity').click(function(){
		$(".cityView").css('display','none');
	})
	$("#citySearch").click(function(){
		var cTxt=$("#citySearch").text();
		if(cTxt!=homeMap.cityName){
			map.centerAndZoom(cTxt,11);      // 用城市名设置地图中心点
			homeMap.$set("cityName",cTxt);
		}
		$(".cityView").css('display','none');
	})

	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() { 
	// 通过下面这个API隐藏右上角按钮 
	WeixinJSBridge.call('hideOptionMenu'); 
	});
	
	$(function(){
		homeMap.initMap();
		homeMap.loadInfo();
	});
	var homeMap = new Vue({
		el: '#Map',
		data: {
			mapView: true,
			userInfo: {},
			shopInfoList: [],
			cityName: '',
		},
		methods: {
			slider:function(lat,lng) {
//              加载轮播图
				var url = Util.common.baseUrlApi + "store/subbranch/findNearBy";
				var param = {};
				param.lat = lat;
				param.lng = lng;
				param.distance = 10000;
				$.post(url, param, function (data) {
					console.log(data)
					if (data.success && data.data && data.data.data.length> 0) {
						var shopInfoList = data.data.data.slice(0,5);
						for (x in shopInfoList) {
							if (shopInfoList[x].lat && shopInfoList[x].lng) {
								var distance  = map.getDistance(map.getCenter(),new BMap.Point(shopInfoList[x].lng, shopInfoList[x].lat));
								shopInfoList[x].distance = (distance/1000).toFixed(2);
							}
							shopInfoList[x].addrDetail = shopInfoList[x].provinceName.substring(0,shopInfoList[x].provinceName.length - 1)  + shopInfoList[x].cityName.substring(0,shopInfoList[x].cityName.length - 1) + shopInfoList[x].countryName + shopInfoList[x].address;
						}
						homeMap.$set('shopInfoList',shopInfoList);
						homeMap.$nextTick(function() {
							homeMap.initMarkers(0);
							swiper = $("#slider-content").swiper({
								autoplay: false,
								pagination : '.swiper-pagination',
								paginationType : 'fraction',
								onSlideChangeEnd: function(swiper){
									console.log(swiper.activeIndex);
									map.clearOverlays();
									homeMap.initMarkers(swiper.activeIndex);
								}
							});	
						})
					} else {

					}
				},'json');
            },
			initMap:function() {
				var geolocation = new BMap.Geolocation();
				geolocation.getCurrentPosition(function(r){
					if(this.getStatus() == BMAP_STATUS_SUCCESS){
						map.panTo(r.point);
						homeMap.$set("cityName",r.address.city);
					}
					else {
						new Toast({context:$('body'),message:"定位加载失败，请重试"}).show();
					}         
				},{enableHighAccuracy: true})
				
			},
			initMarkers: function(y) {
				for (x in homeMap.shopInfoList) {
					var point = new BMap.Point(homeMap.shopInfoList[x].lng, homeMap.shopInfoList[x].lat);
					addMarker(x,point,y);
				}
				// 编写自定义函数,创建标注
				function addMarker(x,point,y){
					
					var myIcon;
					 if (x == y) {
						myIcon = new BMap.Icon("./img/icons/yello_mark.png", new BMap.Size(25,45));
					 } else {
						myIcon = new BMap.Icon("./img/icons/green_mark.png", new BMap.Size(20,40));
					 }  
					var marker = new BMap.Marker(point,{icon:myIcon});
					marker.addEventListener("click",attribute.bind(this,x));
					map.addOverlay(marker);
				}
				function attribute(x){
					console.log(x)
					swiper.slideTo(x, 0, false);
					homeMap.deleteMarkers();
					homeMap.initMarkers(x);
				}
			},
			deleteMarkers: function() {
				map.clearOverlays();
			},
			selectCityList: function() {
				$('.cityView').css('display','block');
				$('#locCity').text(homeMap.cityName);
				$('#citySearch').text(homeMap.cityName);
			},
			//个人信息
			loadInfo:function () {
                var url ="/weixin/weixinClient/loadMyInfo.do?id=" + sessionStorage.getItem("userid");
                var param = {"userId": sessionStorage.getItem("userid")};
                Util.common.executeAjaxCallback(url, param, function (data) {
                    console.log(data.msg);

                    if(data.success){
                        Util.common.removeloadingAnimate('personCon');
                        homeMap.$set("userInfo",data.msg);
                        sessionStorage.setItem("userInfo",JSON.stringify(data.msg));
                        sessionStorage.setItem("openid",homeMap.userInfo.openid);
                    }
                });
            },
			showSearchAddr: function() {
				$('.searchAddr').css('display','');
				$('#showSearch').blur();
				addrSearchFocus();
			},
			hideSearchAddr: function() {
				$('.searchAddr').css('display','none');
			},
			toHome: function(item) {
				window.location.href="index.html?storeId="+item.id+"&userId="+sessionStorage.getItem("userid") + "&show_map=T"+"&shopInfo="+JSON.stringify(item);
			}	
		},
			
	})

	function searchAddr(str) {
        if(str==''){
            str=$("#search").val();
        }
		var options = {
			onSearchComplete: function(results){
				// 判断状态是否正确
				if (local.getStatus() == BMAP_STATUS_SUCCESS){
					$("#addrSearchListview li").remove();
					$("#clearHository").css('display','none');
					for (var i = 0; i < results.getCurrentNumPois(); i ++){
						var list = '<li onclick="goSearchAddr('+"'"+results.getPoi(i).title+"'"+')">'+results.getPoi(i).title + "<br>" + results.getPoi(i).address +'</li>';
						$("#addrSearchListview").append(list);
					}
				} else {
					$("#emptyTip").show();
					$("#searchHistory").hide();
				}
			}
		};
		var local = new BMap.LocalSearch(map, options);
		local.search(str);
    }
	function goSearchAddr(addr) {
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 13);
			map.addOverlay(new BMap.Marker(pp));    //添加标注
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
		  onSearchComplete: myFun
		});
		local.search(addr);
        AddrSearchSaveStroage(addr);
	 	homeMap.hideSearchAddr();
	}
	function addrSearchFocus() {

        var storage = window.localStorage;
        $("#addrSearchListview li").remove();
		$("#addrSearchListview").append('<li>历史搜索</li>');
        console.log('--------------------------');
        for(var j = storage.length-1; j >= 0; j--) {
            var key = storage.key(j);
            var value = storage.getItem(key);
            if(key.indexOf('search_addr') != -1) {
                console.log(key+ ':' +value);
                var keystr = "'"+key+"'";
                var list = '<li onclick="goSearchAddr('+"'"+value+"'"+')">'+value+'</li>';
                $("#addrSearchListview").append(list);
            }
        }
		if ($("#addrSearchListview li").length > 1) {
			$("#clearHository").css('display','');
		} else {
			$("#clearHository").css('display','none');
		}
    }
	function AddrSearchSaveStroage(addr) {
        var searchVal = addr;
        if(searchVal != null && searchVal != '') {
            var storage = window.localStorage;
            console.log(storage);
            for(var j = storage.length-1; j >= 0; j--) {
                var key = storage.key(j);
                var value = storage.getItem(key);
                if(key.indexOf('search_addr') != -1) {
                    console.log(searchVal);
                    console.log(value);
                    if (searchVal == value) {
                        localStorage.removeItem(key);
                    }
                }
            }
            storage.setItem("search_addr" + (new Date().getTime()),searchVal);

        }
    }

    $('#clearHository').bind('click', function (event) {
		my_confirm({
                    title:'提示',
                    tips:"确定删除全部历史记录?",
                    btnOk:'确定',
                    btnNo:'取消',
                    funcOk:function () {
                        window.localStorage.clear();
						$('#addrSearchListview li').remove();
						$('#clearHository').hide();
                    },
                    funcNo:function () {

                    }
                });
        
    });
</script>
</html>