.trading-record-header{
    border: 1px solid #f0f0f0;
}
.password-header{
    width: 1198px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.password-header .nav-logo{
    width: 201px;
    height: 62px;
    display: inline-block;
}
.password-header .nav-logo img{
    width: 201px;
    height: 62px;
}
.password-header .trading-record-nav{
    margin-left: 60px;
}
.password-header .trading-record-nav .record-index{
    font-size: 16px;
    color: #1a1a1a;
    line-height: 30px;
    margin-right: 30px;
}
.password-header .trading-record-nav{
    padding-top: 30px;
    padding-bottom: 24px;
}
.password-header .trading-record-nav .record-message{
    font-size: 16px;
    color: #1a1a1a;
    line-height: 30px;
    position: relative;
}
.password-header .trading-record-nav .record-message a{
    font-size: 16px;
    color: #1a1a1a;
    line-height: 30px;
}
.password-header .trading-record-nav .record-message .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f05353;
    position: absolute;
    top:5px;
    right: -1px;
}
.trading-record-header .password-header .nav-input {
    padding-top: 30px;
    margin-right: 80px;
}
.trading-record-header .password-header .nav-input input{
    outline: none;
    width: 242px;
    height: 30px;
    font-size: 14px;
    text-align: left;
    padding-left: 8px;
    border: 1px solid #dbdbdb;
    margin: 0;
}
.trading-record-header .password-header .nav-input .nav-search{
    border: 1px solid #dbdbdb;
    border-left: none;
    font-size: 16px;
    color: #666;
    background: #f5f5f5;
    width: 70px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.trading-details{
    width: 990px;
    margin: 0 auto;
    padding-top: 13px;
}
.trading-details h4{
    font-size: 18px;
    color: #1a1a1a;
    text-align: left;
    font-weight:normal;
    line-height: 50px;
}
.trading-details h6{
    font-size: 14px;
    color: #333;
    line-height: 36px;
    background: #e5f5ff;
    border: 1px solid #dbdbdb;
    padding-left: 15px;
    margin-bottom: 15px;
}
.trading-details .trading-details-table{
    width: 100%;
}
.trading-details .trading-details-table thead tr th{
    font-weight: normal;
    font-size: 12px;
    color: #333;
    line-height: 26px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid#dbdbdb;
    background: #f5f5f5;
    text-align: center;
}
.trading-details .trading-details-table thead tr .details-th01{
    width: 82px;
    border-left: 1px solid #dbdbdb;
}
.trading-details .trading-details-table thead tr .details-th02{
    width: 389px;
    text-align: left;
}
.trading-details .trading-details-table thead tr .details-th03{
    width: 149px;
}
.trading-details .trading-details-table thead tr .details-th04{
    width: 101px;
}
.trading-details .trading-details-table thead tr .details-th05{
    width: 112px;
}
.trading-details .trading-details-table thead tr .details-th06{
    width: 159px;
    border-right: 1px solid #dbdbdb;
}
.trading-details .trading-details-table tbody tr td{
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.trading-details .trading-details-table tbody tr td img{
    width: 54px;
    height: 26px;
    margin: 0 auto;
}
.trading-details .trading-details-table tbody tr td span{
    display: block;
    text-align: left;
    font-size: 12px;
    color: #999;
    line-height: 18px;
}
.trading-details .trading-details-table tbody tr td span.product-title{
    color: #333;
}
.trading-details .trading-details-table tbody tr td mark{
    display: block;
    font-size: 14px;
    color: #999;
    line-height: 18px;
    color: #e32a32;
    background: transparent;
    font-weight: bold;
}
.trading-details .unit{
    font-size: 12px;
    color: #999;
    line-height: 24px;
    margin-bottom: 20px;
}
.trading-details .trading-time{
    margin-bottom: 80px;
}
.trading-details .trading-time label{
    width: 80px;
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 41px;
    border: 1px solid #dbdbdb;
    border-right: none;
}
.trading-details .trading-time table{
    width: 909px;
    border: 1px solid #dbdbdb;
}
.trading-details .trading-time table thead tr th{
    width: 33.333%;
    text-align: left;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #dbdbdb;
    background: #f5f5f5;
    line-height: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.trading-details .trading-time table tbody tr td{
    font-size: 12px;
    color: #333;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
}
