.password-header{
    width: 1198px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.password-header a{
    width: 201px;
    height: 62px;
    display: inline-block;
}
.password-header a img{
    width: 201px;
    height: 62px;
}
.nav-wrap{
    width: 1198px;
    border-bottom: 2px solid #f0f0f0;
    position: relative;
    height: 48px;
    margin:0 auto;
}
.nav-wrap .nav{
    width: 800px;
    position: absolute;
    left: 50%;
    bottom: -2px;
    margin-left: -400px;
}
.nav-wrap .nav li{
    width: 50%;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}
.nav-wrap .nav .active{
    border-bottom: 2px solid #cc9b4b;
}
.nav-wrap .nav li i{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cc9b4b;
    color: #fff;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-right: 2px;
}
.body{
    width: 930px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 108px;
}
.body .left-form{
    width: 402px;
}
.body .left-form .tips{
    font-size: 12px;
    line-height: 34px;
    text-align: left;
    color: red;
}
.body .left-form .input-group label{
    width: 90px;
    padding-left: 24px;
    text-align: left;
    font-size: 14px;
    color: #666;
    line-height: 52px;
    border: 1px solid #dbdbdb;
    border-right: none;
}
.body .left-form .input-group input{
    width: 280px;
    border: 1px solid #dbdbdb;
    border-left: none;
    outline: none;
    margin:0;
    font-size: 14px;
    line-height: 30px;
    padding: 11px 0px;
}
.body .left-form .input-group .length-limit10{
    width: 50px;
    font-size: 14px;
    color: #666;
    line-height: 52px;
    text-align: center;
    font-style: normal;
    border: 1px solid #dbdbdb;
    border-left: none;
}
.body .left-form .input-group .shop-name{
    width: 228px;
    border-right: none;
}

.footer-bottom{
    background: #fff!important;
}
.footer-bottom-link{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.body .left-form .input-group .express-wrap{
    position: relative;
}
.body .left-form .input-group .address-simple{
    display: none;
}
.body .left-form .input-group .express-wrap .location-choose{
    font-size: 14px;
    color: #666;
    line-height: 52px;
    font-style: normal;
    cursor: pointer;
    border:1px solid #dbdbdb;
    border-left: none;
    display: block;
    width: 280px;
    position: relative;
}
.body .left-form .input-group .express-wrap .location-choose i{
    width: 21px;
    height: 10px;
    display: inline-block;
    background: url(../images/userInfo_address_icon_down.png) no-repeat center;
    position: absolute;
    right: 25px;
    top:21px;
}
.body .left-form .input-group .express-wrap .express-choose-datalist{
    position: absolute;
    left: 0;
    top:53px;
    width: 460px;
    background: #fff;
    border:1px solid #dbdbdb;
    border-radius: 3px;
    padding: 20px 10px 10px 10px;
}

.body .left-form .input-group .express-wrap .express-choose-datalist .close{
    cursor: pointer;
    position: absolute;
    right: 13px;
    top:13px;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-title{
    border-bottom: 1px solid #cc9b4b;
    height: 24px;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-title span{
    font-size: 12px;
    color: #1a1a1a;
    width: 54px;
    border:1px solid #dbdbdb;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    margin-right: 4px;
    border-bottom: none;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-title .active{
    border-color: #cc9b4b!important;
    background: #fff;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-title i{
    width: 6px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/icon_down.png) no-repeat center;
    background-size: contain;
    margin-left: 4px;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-content{
    width: 100%;
    margin: 0 auto;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-content ul li{
    width: 16.666%;
    margin-top: 10px;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-content ul li span{
    display: block;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #1a1a1a;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .location-content ul li span:hover{
    background: #cc9b4b;
    color: #fff;
}
.body .left-form .input-group .express-wrap .express-choose-datalist .close span{
    width: 14px;
    height: 13px;
    background: url(../images/icon_close.png) no-repeat center;
    background-size: contain;
}
.body .left-form .shop-desc{
    position: relative;
}
.body .left-form .shop-desc h5{
    padding-left: 24px;
    text-align: left;
    font-size: 14px;
    color: #666;
    line-height: 52px;
    font-weight: normal;
}
.body .left-form .shop-desc textarea{
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    display: block;
    width: 380px;
    outline: none;
    padding: 10px;
    height: 120px;
    resize: none;
}
.body .left-form .shop-desc .length-limit120{
    font-size: 14px;
    color: #999;
    font-style: normal;
    position: absolute;
    right: 25px;
    bottom: 0px;
}
.body .input-submit{
    margin-top: 60px;
}
.body .input-submit a{
    width: 220px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #cc9b4b;
    border-radius: 3px;
    display: inline-block;
    line-height: 32px;
}
.body .right-img{
    width: 360px;
}
.body .right-img .right-img-group{
    margin-bottom: 20px;
}
.body .right-img .right-img-group .img-group-title{
    font-size: 14px;
    text-align: left;
    color: #1a1a1a;
    font-weight: bold;
    margin-bottom: 22px;
}
.body .right-img .right-img-group .img-group-title span{
    font-size: 12px;
    color: #999;
    line-height: 14px;
    font-weight: normal;
    margin-left: 6px;
}
.body .right-img .right-img-group .input-file .input-file-group{
    width: 146px;
}
.body .right-img .right-img-group .input-file .input-file-group .img-show-box{
    width: 146px;
    height: 146px;
    overflow: hidden;
}
.body .right-img .right-img-group .input-file .input-file-group .img-show-box img{
    width: 100%;
}
.body .right-img .right-img-group .input-file .input-file-group .img-operation-box .img-operation-upload{
    position: relative;
    margin-left: 27px;
    font-size: 14px;
    color: #2a6dbb;
    line-height: 28px;
    cursor: pointer;
}
.body .right-img .right-img-group .input-file .input-file-group .img-operation-box .img-operation-upload input{
    position: absolute;
    left: 0;
    top:0;
    width: 28px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
.body .right-img .right-img-group .input-file .input-file-group .img-operation-box .img-operation-change{
    position: relative;
    margin-left: 13px;
    font-size: 14px;
    color: #2a6dbb;
    line-height: 28px;
    cursor: pointer;
}
.body .right-img .right-img-group .input-file .input-file-group .img-operation-box .img-operation-change input{
    position: absolute;
    left: 0;
    top:0;
    width: 28px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
.body .right-img .right-img-group .shop-file .shop-img-list li{
    width: 20%;
    margin-right: 5%;
    min-height: 70px;
}
.body .right-img .right-img-group .shop-file .shop-img-list li img{
    width: 70px;
    margin: 0 auto;
}
.body .right-img .right-img-group .shop-file .shop-img-list .input-file-btn{
    position: relative;
}
.body .right-img .right-img-group .shop-file .shop-img-list .input-file-btn .camera{
    display: inline-block;
    width: 68px;
    height: 68px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: url(../images/icon_camera_big.png) no-repeat center;
    background-size: 40px 34px;
}
.body .right-img .right-img-group .shop-file .shop-img-list .input-file-btn input {
    position: absolute;
    left: 0;
    top:0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}
.body .right-img .right-img-group .shop-file .img-count{
    margin-top:10px;
    font-size: 14px;
    color: #999;
}
.body .right-img .right-img-group .shop-file .img-count span{
    color: #f05353;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}






