.sell-num {
    margin-left: 0.8125rem;
}
.params-bottom {
    width: 100%;
    height: 3rem;
}
.mar-3 {
    margin-top: 0.3rem;
}
.mar-5 {
    margin-top: 0.5rem;
}
.detailimg p{
    font-size: 0px;
}
.detailimg li {
    font-size: 0px;
    margin: 0;
    padding: 0;
}
.skuInfo {
    padding: 2% 2%;
    color: #1C1C1C;
    background: #FFFFFF;
}
.eva-img {
    width: 60px;
    margin-right: 0.5rem;
}
.presell-count {
    position: relative;
    z-index: 5;
    margin-top: -2rem;
    background: rgba(255, 255, 255, 0);
}
.goods-detail .countTitle {
    width: 20%;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    background: rgb(43, 176, 109);
    border-top-right-radius: 10px;
}
.goods-detail .countPrice-view {
    width: 100%;
    height: 3rem;
    box-sizing:border-box;
    color: #fff;
    font-size: 1.5rem;
    padding: 0rem 0.5rem ;
    background: rgb(43, 176, 109);
    vertical-align: bottom;
}
.goods-detail .count-right{
    position: absolute;
    z-index: 6;
    right: 0;
    bottom: 0;
    width: 38%;
    height: 3rem;
    padding-top: 0.3rem;
    box-sizing:border-box;
    text-align: center;
    color: #fff;
    font-size: 0.8125rem;
    background: rgb(59, 204, 132);
}

#goodsDetail input[type="checkbox"] + label {
    line-height: 1rem;
    border: 1px solid rgb(229, 229, 229);
    color: rgb(222,222,222);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.3125rem 0.6875rem;
    margin: 0.2rem 0.8%;
    text-align: center;
    position: static;
    height: auto;
    width: auto;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 0.25rem;
    left: -0.25rem;
    margin: 0px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 2rem;
    -webkit-transition: 0s;
    transition: 0s;
}

.activity-list {
    display: table;
    width: 100%;
    background: #ffffff;
    padding-top: 0.5rem;
    font-size: 0.875rem;
}

.activity-list-view {
    background: #fff;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8125rem;
}

.activity-desc {
    display: inline-block;
    width: 200px;
    color: #000;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.params-list-scroll {
    height: 70vh;
    overflow:scroll;
    padding-bottom: 5rem;
    box-sizing: border-box;
}
.params-activity {
    background: #fff;
    margin: -0.5rem 0.5rem 0 0.5rem;
}
.activity-activity-list {
    display: table;
    width: 100%;
    background: #fff;
    font-size: 0.875rem;
    border-bottom: 1px solid #D7D7D7;
}
.activity-activity-list-top {
    margin: 0.5rem 0;
}
.buy-btn-top{
    width:100%;
    position: fixed;
    left:0;
    bottom: 0;
    z-index: 999;
}

.rule-intro {
    margin-left: 5.5rem;
    color: #000;
}
.goods-content{
    display: flex;
    width:100%;
    height:auto;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}
.goods-content img{
    display: flex;
    justify-content: flex-start;
    width:2.5rem;
    height:2.5rem;
    border-radius: 4px;
}
.goods-content .goods-content-right{
    flex-grow: 7;
    flex-basis:70%;
    justify-content: flex-start;
    padding-bottom: 0.8rem;
}
.goods-content .goods-content-right .goods-content-name{
    font-size: 0.7125rem;
    color:#333;
    text-indent: 1.5rem;
    min-height: 1.5rem;
    display: inline-block;
}
.goods-content .goods-content-right .goods-content-num{
    font-size: 0.7125rem;
    color:#666;
    text-indent: 1.5rem;
}
.right-arrow2{
    width: 2rem;
    float: right;
    display: flex;
    justify-content: flex-end;
}
.good-border{
    border-bottom:1px solid #D7D7D7;
}
.imagemodel{
    width:100%;
    font-size: 0;
    height:auto;
}
.countPrice{
    line-height: 3rem;
    height: 3rem;
    display: inline-block;
    width: 23%;
}
.unit{
    font-size: 1rem;
}
.originalPrice{
    display: block;
    text-decoration: line-through;
    color: rgba(255,255,255,.9);
}
.centerbox{
    height: 3rem;
    vertical-align: top;
    text-align: center;
    width: 33%;
}
.spanB{
    display: block;
    margin-top: 0.3rem;
    height:1.2rem;
    color: rgba(255,255,255,.9);
}
.color-black{
    font-size: 0.7125rem;
}
.text-vetically{
    line-height: 3rem;
}
.redType{
    appearance: none!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
}